@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&family=Poppins:wght@500&family=Roboto:wght@100&display=swap');
@tailwind components;
@tailwind base;
@tailwind utilities;

html,
body {
  font-family: 'Figtree', 'Roboto', sans-serif;
}

.dark-blue {
  color: #0073ea;
}

.light-blue {
  color: #0fa2e2;
}
